<div class="center hero-unit">
<h1>Find a pack</h1>

<h2>
  Learn more about the pet-friendly businesses near you. 
</h2>


<%= link_to "Search Now", venues_path, class: "btn btn-large btn-primary" %>
</div>