<footer class="footer">
  <small>
    <a href="http://www.vonhound.com/">Von Hound</a> Join the pack.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help"%></li>
      <li><%= link_to "About"%></li>
      <li><%= link_to "Contact"%></li>
    </ul>
  </nav>
</footer>